<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YugiohApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="YugiohApp.Properties.Settings.yugiohConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=..\\..\\..\\..\\allCardsDB.accdb" />
    </connectionStrings>
    <applicationSettings>
        <YugiohApp.Properties.Settings>
            <setting name="cardsPath" serializeAs="String">
                <value>..\\..\\..\\..\\cards\\</value>
            </setting>
            <setting name="cardImagesPath" serializeAs="String">
                <value>..\\..\\..\\..\\cardImages\\</value>
            </setting>
            <setting name="smallCardImagesPath" serializeAs="String">
                <value>..\\..\\..\\..\\smallCardImages\\</value>
            </setting>
            <setting name="soundsPath" serializeAs="String">
                <value>..\\..\\..\\..\sounds\\</value>
            </setting>
        </YugiohApp.Properties.Settings>
    </applicationSettings>
</configuration>